<div class="header_login">

	{% block fos_user_content %}
	{% if error %}
	    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <input type="text" id="username" name="_username" value="{{'security.login.username'|trans({}, 'FOSUserBundle') }}" required="required" />

	    <input type="password" id="password" name="_password" value="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"required="required" />

	    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />


	    <br />

	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

	    
	</form>
	{% endblock fos_user_content %}

</div>
